body {
    background-color: #EAFDFC;
  }

  h1{
color: #0D4C92
  }

  h3 {
    color: #0D4C92
  }

  hr {

  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
  width: 5%;
}